* {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}
body {
  background-repeat: no-repeat, repeat;
  background-color: #70587c;
  font-family: verdana;
}

h1 {
  padding: auto;
  margin: auto;
  color: white;
  text-align: center;
}

p {
  padding: auto;
  margin-top: 2rem;
  color: #f9f4f5;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic
}

#welcome-section {
  border-style: dashed;
  border-color: #c8b8db;
  padding: 10rem 2rem;
  margin-top: 3rem;
  viewport: 100%;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c8b8db;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 25px;
  padding: 5px;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.survey-form {
  font-size: 1rem; 
  display: flex;
  margin-left: 100px;
  margin-top: 40px;
  padding: 20px;
  font-size: 30px;

}

.gaming-page {
  font-size: 1rem; 
  display: flex;
  margin-left: 425px;
  margin-top: -290px;
  padding: 20px;
  font-size: 30px;
}

.author-page {
  font-size: 1rem; 
  display: flex;
  margin-left: 750px;
  margin-top: -340px;
  padding: 20px;
  font-size: 30px;
}

.technical-document {
  font-size: 1rem; 
  display: flex;
  margin-left: 1075px;
  margin-top: -390px;
  padding: 20px;
  font-size: 30px;
}

.flex-container {
  display: flex;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.survey-title {
  margin-top: 260px;
  margin-left: -230px;
}

.gaming-title {
  margin-top: -70px;
  margin-left: -230px;
}

.author-title {
  margin-left: -200px;
  margin-top: -120px;
}

.technical-title {
  margin-left: -250px;
  margin-top: -170px;
}

h2 {
  text-align: center;
  border: solid;
  margin-top: 30px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
}

.work-together {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.social-media {
  margin-bottomn: 50px;
}